@import 'variables', 'normalize';


body{
	font-family: $basic-font;
	background-color:$back-color;
	font-size:16px;
}

header{
	width: 100%; /* 960px */
	background-color: $back-color;
	list-style:none;	
	margin: 0 auto;

	img{
		padding-left: 5em
	}
}

nav{
	padding:40px/960px*100% 0;
	float:right;
	display: inline-block;
	.nav{
		padding: 0;
		li{
			display: inline-block;
			list-style: none;

			a{
				text-decoration: none;
				color: $text-color;
				
				}
			a:hover{
				color:$cyan;
				text-decoration: none;
				background: none;

			}	
		}
	}
}

#banner{
	width: 100%;
	.carousel-control{
		background: none;
	}

}




#about{
	width: 100%; 
	padding-top: 2.7em;
	background-color: $back-color;
	margin: 0 auto;
	h1{
		font-size: 1.7em;
		color: $text-color;
		text-align: center;

	}
	p{
		text-align: center;
		font-size: 0.8em;
		color: $text-color;
	    line-height: 0.7;
	}

	.info{
	padding-top: 2.7em;
	color: $text-color;

	h2{
		font-size: 1.2em;
	}

	p{
		font-size: 0.8em;
		text-align: left;
		line-height: 1.3em;
	}
}
}



#feactures{
	width: 100%; 
	background-color: $gray;
	padding-bottom: 4.7em;
	margin: 0 auto;
	h1{
		font-size: 1.7em;
		padding-top: 2.7em;
		color: $text-color;
		text-align: center;

	}
	p{
		text-align: center;
		font-size: 0.8em;
		color: $text-color;
	    line-height: 0.7;
	}
}

.gallery .photos{
	margin-top: 1.5em;
	 img{
	 	width: 100%;
	 }

	h2{
		font-size: 1.2em;
	}

	p{
		font-size: 0.8em;
	}
}

#contact{
	
	input[type="submit"]{
				width:120px/960px*100%;
				color:white;
				background-color:$cyan;
				border:none;
				float: right;
			}

			input[type="submit"]:hover {
				background: black;
			}
}





footer{
	width:100%;
	list-style:none;	
	margin: 0 auto;
	background-color: $footer-color;

	p{
		color: $cyan;

	}

	nav{
	padding:40px/960px*100% 0;
	float:none;
	display: inline-block;
	ul{
		padding: 0;
		li{
			display: inline-block;
			list-style: none;
			margin-right: 33px;
			a{
				text-decoration: none;
				color: $text-color;
				}
			a:hover{
				color:$cyan;
			}	
		}
	}
}

}


